.name {
  color: red;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .name {
    margin-left: 0;
  }
}

@media screen and (max-width: 415px) {
  .name {
    margin-left: 20px;
    font-size: 40px;
  }
}
