.button:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

.text-logo {
  color: #c4cfde;
  margin-right: 0px;
  margin-top: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.anticon svg {
  fill: #ffff;
}

@media screen and (min-width: 414px) {
  .text-logo {
    font-size: small;
    left: 50px;
    margin-right: 120px;
    width: 150px;
  }
}

@media only screen and (max-width: 411px) {
  .text-logo {
    font-size: small;
    position: absolute;
    left: 85px;
    width: fit-content;
  }
}
