.title-card {
  color: #f9004d;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.header-card {
  color: #c4cfde;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0;
}

.container-card {
  height: 411px;
  width: 350px;
  background: linear-gradient(to right bottom, #212428, #16181c);
  -webkit-box-shadow: 8px 8px 13px #171717, -8px -8px 13px #232323;
  box-shadow: 8px 8px 13px #171717, -8px -8px 13px #232323;
  border-radius: 20px;
  padding: 25px;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition: background 0.9s ease-out;
  -moz-transition: background 0.9s ease-out;
  -o-transition: background 0.9s ease-out;
  transition: background 0.9s;
  overflow: hidden;
}

.container-card:hover {
  background-color: #161616;
}

.container-img {
  overflow: hidden;
  height: 248px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-card {
  transition: transform 0.8s ease-out;
}

.img-card:hover {
  transform: scale(1.1);
}

.container-pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: transparent;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #ffffff;
  border-color: #ffffff;
  color: rgb(0, 0, 0);
}
.pagination > li > a {
  border: none;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

@media only screen and (max-width: 768px) {
  .container-card {
    width: 390px;
  }

  .pagination > li > span,
  a {
    font-size: 11px;
  }
}
