.container-form-contact {
  background: #212121;
  -webkit-box-shadow: 8px 8px 13px #171717, -8px -8px 13px #232323;
  box-shadow: 8px 8px 13px #171717, -8px -8px 13px #252525;
  border-radius: 15px;
  height: 771px;
  padding: 30px;
  width: 700px;
}

@media only screen and (max-width: 768px) {
  .container-form-contact {
    width: 365px;
    height: 700px;
  }
}

@media only screen and (max-width: 376px) {
  .container-form-contact {
    width: 325px;
    height: 700px;
  }
}

/* .input-contact {
  padding: 0 15px;
  box-sizing: border-box;
} */
